body {
    display: flex;
    background-image: url(logo.jpg);
    background-size: cover;
    height: 50vw;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    margin: 0;
    flex-direction: column;
}

/* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
header {
    background-color: #14151B;
    border-bottom: 2px solid #212227;
    padding: 12px 0;
    padding-top: 12px;
    padding-right: 0px;
    padding-left: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.button_header {}

.krug {
    position: absolute;
    width: 59px;
    height: 59px;
    background: rgb(255, 255, 255);
    opacity: 0.4;
    border-radius: 50px;
    left: 124px;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.krug i {
    position: absolute;
    font-size: 49px;
}

.bloc1 {
    position: absolute;
    left: 124px;
    top: 152px;
    overflow: hidden;
}

.main-image {
  width: 400px;
  height: 525px;
  object-fit: cover;
  border-radius: 32px;
  border: 2px solid #ccc;
   /* transition: transform 0.3s ease; */
}

/* .bloc1 img {
    width: 390px;
    height: auto; 
    display: block;
} */

/* .half {
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
  width: 100%;
  max-width: 210px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.half img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
} */